.container{
  margin-top: 30px;
  width: 98.8vw;
  height: 100%;

  .details{
    display: flex;
    flex-wrap: wrap;
  }
  .detail{
    width: 150px;
    height: 250px;
    margin-left:15px ;
    text-overflow: "...";
  }
  .header{
    margin-top: 50px;
    text-align: center;
  }
  }
