// .menu{
//   display: flex;
// }

.side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // border: black solid 1px;


}
ul{
  margin: 0;
  padding: 0;
  list-style-type:none;

}
li{
  padding: 0;
  margin: 0;

}




button.mat-raised-button.mat-button-base{
  background-color: 	#806f7a;
  width: 100%;
  color: white;
  font-size: 65%;

}
// button.mat-raised-button.mat-button-base:hover{
//   color: brown;
// }

// mat-list.mat-list.mat-list-base{
//   width:  15vw;
//   flex-wrap: nowrap;

// }
// mat-list-item.menu.li.mat-list-item.ng-star-inserted{
//    width: 100%;
// }


// :host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-item .mat-list-item-content{
//   padding: 0% ;

//   /* border: solid 1px red; */
// }

// @media only screen and (max-width: 900px) {
//   mat-list.mat-list.mat-list-base{
//       width:  40vw;


//   }

//   :host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content{
//       padding: 0% ;
//       /* border: solid 1px blue !important; */
//   }
//   :host ::ng-deep .mat-list-base .mat-list-item span.mat-button-wrapper{
//   font-size: 3vw;
//   /* color: white; */
//   }

// }
