$mainColor:#806f7a;

.menu-toggle{
  width: 50vw;
  height: 100%;
}

.mat-side{
  height: 50vw;
}
.toggler{
  width: 1px;
  height: 850px;
  background-color: $mainColor;


}

// button.vertical{
//   transform: rotateZ(90deg) ;
//   left:5px;

// }

@media (max-width:678px){
button.vertical{
  position:absolute;
  z-index: 10;
  // width: 10px;
  height: 30px;
  top:60px;

}
}
.mat-drawer-container{
  background-color:$mainColor;

}
.mat-drawer{
  background-color:$mainColor;
}
.side{
  height: 30vw;
  background-color:$mainColor;

}
.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style-type:none;

}
li{
  padding: 0;
  margin: 0;

}




button.mat-raised-button.mat-button-base{
  background-color: 	$mainColor;
  width: 100%;
  color: white;
  font-size: 65%;

}
