<div class="center">Меню</div>
<div class="container row">

  <div class="stick">

    <div class="col-3">
      <menu-category [category]="category"></menu-category>
    </div>
  </div>

  <div class="menu-box">
    <div class="flip-card  " *ngFor="let product of filterdProducts ; let i = index">
      <div class="flip-card-inner "(click)="onClick(i)" >
        <div class="flip-card-front">
          <p class="header">{{product.$value.title}}</p>
          <img [src]="product.$value.imageUrl" *ngIf="product.$value.imageUrl" alt="product.$value.imageUrl"
            style="width:100%">
          <div>
            <p>{{product.$value.price | number : '1.2-2' }} лв.</p>
          </div>
          <div>
           <!-- <button class="footer" (click)="addToCart(product)">Добави в количката</button> -->
          </div>
        </div>
        <div class="flip-card-back ">
          <p>Съдържа:</p>
          <div> {{product.$value.detail}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
