<div class="conteiner-contact-work">
<div class="contacts">Контакти
  <div>Телефон: 089 547 5760</div>
  <div>Телефон</div>
  <div>Телефон</div>
  <div>Email: info@kalista.bg</div>
  <a href="https://www.facebook.com/PizaBarKalista/" target="_blank" ><mat-icon class="facebook" aria-hidden="false">facebook</mat-icon></a>
  
</div>

<div class="work">Работно Време
  <div>Кухния: <span>8:00 до 22:00</span></div>
  <div>Бар: <span>8:00 до 22:00</span></div>
</div>
</div>

<div class="map">Намери ни на картата
</div>
<div class="map">
  <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
    src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Mladost%203%20Kalista%20Sofiq+(Kalista)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
  </iframe>
  <script type='text/javascript'
    src='https://embedmaps.com/google-maps-authorization/script.js?id=01f2b22fde0336ef18df7e6433394a5f9380f293'></script>
</div>
