
<p class="search">
  <input
  #search
  (keyup) = "filter(search.value)" placeholder="Search..."
  type="text">
</p>
<table >
    <tr>
      <th>Име</th>
      <th>Цена</th>
      <th>Редактирай</th>
    </tr>
    <tr class="line" *ngFor=" let p of filteredProducts">
      <td class="name">{{ p.$value.title}}</td>
      <td class="price">{{ p.$value.price|number:"1.02"}} лв.</td>
      <td class="edit">
        <button mat-mini-fab [routerLink]="['/admin/menu/', p.$key]">
          <mat-icon aria-hidden="false">edit</mat-icon>
        </button>
      </td>


    </tr>

  </table>


  <p class="footer">end/p>
