$mainColor: rgb(37, 25, 6);
$navColor:rgb(167, 159, 148);

.main-container{
  width: 98.8vw;
  background-image: url("../../../assets/wood-pattern.png");
  background-color: #946c30;

}
.sizer{
  position: absolute;
  top: 0;
  left: 15px;
  background-color: white;
}
.logo{
  width: 98.8vw;
  height: 13vw;
  img{
    position: relative;
    width: 98.8vw;
    z-index: -1;
    border-radius: 50px;
    }
    .button-nav{
      position: absolute;
      top: 12vw;
      right: 20px;
      color: $mainColor;
      background-color: $navColor;
      border-radius: 0 0 23%;

    }
    .button-toggle{
      position: absolute;
      top: 8vw;
      left: 20px;
      color: $mainColor;
      background-color: $navColor;
      border-radius: 0 23% 23%;
      z-index: 15;
    }
    button:hover{
      background-color: RoyalBlue;
    }
}



.sidenav{
  width: 30vw;
  display: flex;
  button{
    display: flex;
    flex-direction: column;
  }
}


