

.container-image{
  margin-top: 30px;
  width: 98.8vw;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  img{
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    height: 250px;
    // border-radius: 40%;

  }
  img:hover{
  cursor: pointer;

  }
}
.img-box{
  width: 30vw;
  height: 30vw;
}


@media (max-width:678px){
  .container-image{
    margin-top: 30px;
    width: 98.8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img{
      // justify-content: space-around;
      margin-top: 10px;
      width: 150px;
      height: 150px;
      // border-radius: 40%;

    }
  }
}


